<form method="post" action="/new">
  <label for="name"> Puppy Name</label>
  <input type="text" id="name" name="name">
  <label for="breed"> Puppy Breed</label>
  <input type="text" id="breed" name="breed">
  <label for="age"> Puppy Age</label>
  <input type="text" id="age" name="breed">
  <input type="submit">
</form>