<form method="POST" action="/new">
  <p>Name: <input type="text" name="name"></p>
  <p>Breed: <input type="text" name="breed"></p>
  <p>Age: <input type="text" name="age"></p>
  <p><input type="submit" id ="submit"></p>
</form>
